@using WebApplicationModelTest
@model FizzBuzzViewModel

@{ 
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<div>
    <h4>FuzzBuzzViewModel</h4>
    <br />
    <h2>input 1: @Model.FizzNum</h2>
    <h2>input 2: @Model.BuzzNum</h2>
    <p>@Model.Output</p>
</div>